@model ContactsListModel
@{          
    ViewData["Title"] = "Contact Manager";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table>

        <thead>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
        </thead>

        @foreach (var contact in Model.Contacts)
        {
            <tr>
                <td><a href="Checkout/Index/@contact.Id">@contact.FirstName</a></td>
                <td>@contact.LastName</td>
                <td>@contact.Email</td>
                <td>@contact.Phone</td>
                <td>@contact.CategoryName</td>
            </tr>

        }

    </table>


</div>
